/* Vars */
$text: gray;
$highlightedText: lavender;

a.current, a.current:visited {
  color: $highlightedText;
}

a:visited{
  color: inherit; 
}

.current {
  color: gray;
}

.notCurrent {
  color: pink;
}



.images {
  width: 500px;
  border: 3px dashed black;
}

.smallImage {
  width: 300px;
}

.mainPage{
  background-color: pink;
  width: 1500px;
  margin: auto;
}

  